@import './main-article.css';
@import'./header-navigation.css';
@import './main-header.css';
@import './section-article.css';
*{
    margin: 0;
    padding: 0;
}
#wrapper{
    max-width: 980px;
    margin: 0 auto;
}